Repository graphprotocol/graph-node, pull requests merged in 2024-11, with the labels that each got.

#5620 [Snyk] Security upgrade debian from bullseye-slim to bookworm-20240722-slim
  docker/Dockerfile
Labels: security

#5621 [Snyk] Security upgrade @graphprotocol/graph-cli from 0.52.0 to 0.67.2
  substreams/substreams-trigger-filter/package.json
Labels: security

#5698 Optimize IPFS retries
  Cargo.lock
  core/Cargo.toml
  core/src/polling_monitor/ipfs_service.rs
  graph/src/components/link_resolver/ipfs.rs
  graph/src/ipfs/client.rs
  graph/src/ipfs/content_path.rs
  graph/src/ipfs/error.rs
  graph/src/ipfs/gateway_client.rs
  graph/src/ipfs/mod.rs
  graph/src/ipfs/pool.rs
  graph/src/ipfs/retry_policy.rs
  graph/src/ipfs/rpc_client.rs
  graph/src/ipfs/server_address.rs
  runtime/test/src/common.rs
  tests/src/fixture/mod.rs
Labels: area/ipfs

#5672 Use the new Firehose info endpoint
  Cargo.lock
  Cargo.toml
  chain/arweave/src/chain.rs
  chain/cosmos/src/chain.rs
  chain/ethereum/examples/firehose.rs
  chain/ethereum/src/chain.rs
  chain/ethereum/src/ingestor.rs
  chain/ethereum/src/network.rs
  chain/ethereum/src/transport.rs
  chain/near/src/chain.rs
  chain/starknet/src/chain.rs
  chain/substreams/examples/substreams.rs
  chain/substreams/src/block_ingestor.rs
  chain/substreams/src/chain.rs
  graph/Cargo.toml
  graph/proto/firehose.proto
  graph/src/blockchain/firehose_block_ingestor.rs
  graph/src/blockchain/mod.rs
  graph/src/components/adapter.rs
  graph/src/components/mod.rs
  graph/src/components/network_provider/chain_identifier_store.rs
  graph/src/components/network_provider/extended_blocks_check.rs
  graph/src/components/network_provider/genesis_hash_check.rs
  graph/src/components/network_provider/mod.rs
  graph/src/components/network_provider/network_details.rs
  graph/src/components/network_provider/provider_check.rs
  graph/src/components/network_provider/provider_manager.rs
  graph/src/endpoint.rs
  graph/src/env/mod.rs
  graph/src/firehose/endpoint_info/client.rs
  graph/src/firehose/endpoint_info/info_response.rs
  graph/src/firehose/endpoint_info/mod.rs
  graph/src/firehose/endpoints.rs
  graph/src/firehose/mod.rs
  graph/src/firehose/sf.firehose.v2.rs
  graph/src/lib.rs
  node/src/bin/manager.rs
  node/src/chain.rs
  node/src/config.rs
  node/src/main.rs
  node/src/manager/commands/chain.rs
  node/src/manager/commands/config.rs
  node/src/manager/commands/mod.rs
  node/src/manager/commands/provider_checks.rs
  node/src/manager/commands/run.rs
  node/src/network_setup.rs
  store/postgres/src/block_store.rs
  tests/src/fixture/mod.rs
  tests/src/fixture/substreams.rs
Labels: firehose
